@model List<pr3_tradecompany_aspnet_mvc.Models.Enitites.Customer>


@{
    ViewData["Title"] = "Заказчики";
}

<h1>Заказчики
    <a class="btn btn-light btn-sm"
       asp-controller="Customers"
       asp-action="Add">
        Создать
    </a>
</h1>

<table class="table">
    <thead>
        <tr>
            <th>Идентификатор</th>
            <th>Название</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.DisplayFor(Model=>customer.Id)</td>
                <td>@Html.DisplayFor(Model=>customer.CompanyName)</td>
                <td>@Html.DisplayFor(Model=>customer.Address)</td>
                <td>@Html.DisplayFor(Model=>customer.Phone)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@customer.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@customer.Id">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@customer.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>